<title>購車&經驗分享區</title>
<table border=1>
    <form action="/chatRoom" method="POST">
        <tr>
            <td>使用者名稱</td>
            <td>性別</td>
            <td>時間</td>
            <td>留言</td>
        {% for data in msg %}
            <tr>
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
                <td>{{data[3]}}</td>
            </tr>
        {% endfor %}
        <tr>
        </tr>
        <td><input type = "text" name = "userName" value="請輸入名稱"></td>
        <td><input type = "text" name = "sex" value= "請輸入性別"></td>
        <td><input type = "text" name = "command" value = "請輸入留言"></td>
        <td><input type = "submit" name = "submit"></td>
    </form>
</table>